*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

header {
	display: inline-block;
}

body {
  background-image: linear-gradient(120deg, #8B0000, #191970);
}

#film-menus{
  display: flex;
  flex-wrap: nowrap;

}

h3{
  text-align: center;
}


header > ul.main-menu {
	color: orange;
	text-align: center;
	padding-left: 40px;
	/* display: inline-block; */

}

header > ul.main-menu > li {
	display: inline-block;
  padding: 20px 20px;

}


h2 {
	color:  white;
}

ul.nav {
  padding-left: 0px;
  background-color: #3D99CE;
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color : black;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
}
